@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-gradient-brand {
  background: linear-gradient(135deg, #C13C8D 0%, #F39637 100%);
}

.text-gradient-brand {
  background: linear-gradient(135deg, #C13C8D 0%, #F39637 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.chat-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
